name: trigger

on: 
  workflow_dispatch:
    inputs:
      a:
        type: boolean
        default: true
jobs:
  abcd:
    if: ${{github.event.inputs.a == 'true'}}
    runs-on: ubuntu-latest
    steps:
        - run: echo "hello from 1"
  abcde:
    needs: abcd
    runs-on: ubuntu-latest
    steps:
        - name: xutur
          run: echo "Hello from 2"
